<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect trailing slashes if not a folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Rewrite all requests to the public/ folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
