<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # We are now routing from the root htaccess, so no RewriteBase is needed here
    # or RewriteBase / can be used depending on server config, but let's just 
    # route relative to this directory.

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
